<div id="create-container">
  <div class="panel panel-default">
    <div class="panel-heading lead">クイズを編集する</div>
        <div class="panel-body">

<%= render 'quizzes/quiz_form', quiz: @quiz %>

    </div><!--panel-body-->
  </div><!--panel panel-default-->
</div><!--create-container-->