<div id="create-container">
  <div class="panel panel-default">
    <div class="panel-heading">クイズをつくる</div>
        <div class="panel-body">

  <%= render "quizzes/movie-form", quiz: @newquiz %>

        </div><!--panel-body-->
      </div><!--panel panel-default-->
    </div><!--create-container-->
