<div id="create-container">
  <div class="panel panel-default">
    <div class="panel-heading lead">クイズをつくろう</div>
        <div class="panel-body">

    <!-- error-message -->
<%= render 'quizzes/quiz_form', quiz: @newquiz %>

    </div><!--panel-body-->
  </div><!--panel panel-default-->
</div><!--create-container-->
