<div class="top-container">
	<div class="quiz-top-contant">
		<h1>movieQ</h1>
		<p>あなたの映像作品の知識をクイズで試そう！<br />
		ログインするとクイズを作成することができます。</p>

		<%= link_to 'クイズに挑戦する',"#", class: "button" %>
	</div><!-- quiz-top-contant -->
</div><!-- top-container -->

<div class="about-container" id="about">
	<div class="item 1">
	<h2>movieQについて</h2>
	<p>サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介サイト紹介</p>
    </div>

    <div class="item 2">
	<h2>できること</h2>
	<p>サイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできることサイトできること</p>
    </div>

    <div class="item 3">
	<h2>クイズをつくろう！</h2>
	<p>クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！クイズをつくろう！</p>
    </div>

</div> <!-- about-container -->
