<div class="top-container">
	<div class="quiz-top-contents">
		<h1 class="movieQ">movieQ</h1>
		<p>あなたの映像作品の知識をクイズで試そう！<br />
		ログインするとクイズを作成することができます。</p>

		<p><%= link_to 'クイズに挑戦する', play_quiz_path, class: "button1" %></p>
	  <% if user_signed_in? %>
		<%= link_to 'クイズをつくる', new_quiz_path, class: "button2" %>
	  <% end %>
	</div><!-- quiz-top-contant -->
</div><!-- top-container -->

<div class="about-container" id="about">

	<div class="dounyu">
	<div class="circle1">
	<span>movieQとは？<br>
		movieQは映画・アニメのクイズを絵文字を使用して出題します。絵文字から作品をイメージして問題に挑戦しよう！</span>
    </div>

    <div class="circle2">
	<span>できること<br>
		<ol><li>[クイズに挑戦する]
		      あなたの映像作品をクイズで試すことができます。<br>全問正解してmovie王をめざせ！
		    </li>
			<li>[クイズをつくる]ログインすると自分のオリジナルクイズを作成できます！</li>
		</ol></span>
    </div>

    <div class="circle3">
	<span>クイズをつくろう！<br>お題を選んでクイズを作成しよう！クイズはいつでも編集・削除することができます。あなたの好きな作品をたくさんの人に遊んでもらおう！</span>
    </div>

   </div>

</div> <!-- about-container -->
