
<div class="container">
	<div class="item1">
		<h3><strong>第<%= 1%>問</strong></h3>
    </div>
    <div class="item1">
		<h5>絵文字</h5>
	</div>
	<div class="item1">
		<h5>問題</h5>
	</div>
	<div class="item1">
		<h5>選択肢1</h5>
	</div>
	<div class="item1">
		<h5>選択肢2</h5>
	</div>
	<div class="item1">
		<h5>選択肢3</h5>
	</div>


</div><!---container--->