// Place all the styles related to the admins::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#moviewrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4%;
	border-top: 1px dashed lightgray;
	}

.element1 {
	width: 23%;
	border-right: 1px dashed lightgray;
}
.element2 {
    margin-top: 35px;
	width: 73%;
}
