/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*全体　footer固定
---------------------------*/
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#body-content {
  min-height: 350px;
  color: #333;
}

/*header
---------------------------*/
header {
  width: 100%;
  background-color: gold;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin-top: auto;

  .logo {
    text-decoration: none;
  }
}
.navwrapper {
  maxwidth: 1100px;
  margin: 0 auto;
  padding: 0 12%;
}
/*nav
---------------------------*/
.main-nav {
  display: flex;
  font-size: 1.6rem;
  margin-top:32px;
  list-style: none;

  li {
    margin-left: 36px;
  }

  a {
    color: #333;
  }

  a:hover {
    color: #0bd;
  }
}

/*footer
---------------------------*/
.subfooter {
  padding: 15px;
  background-color: gold;
  margin-top: auto;
}

footer {
  text-align: center;
  background-color: #0bd;
  padding: 50px 0;
  flex: 1;

  p {
    color: #fff;
  }
}