// Place all the styles related to the playquizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


#quiz-wrapper {
	height: 100vh;
}

/*全体
-------------------------------*/

#playbox,#resultbox,#totalbox {
  max-width: 1100px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  background-color: skyblue;
  text-align: center;
  color: #333;
}

/*quiz画面
--------------------------------*/

.title-box {
    margin-top:35px;
    background-color: skyblue;
    margin: auto;

	p {
      padding: 3px;
      text-align: center;
      font-size: 5rem;
      color: white;
    }
}

 /* 絵文字 */
.emogi-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  p {
      padding: 16px;
      margin-right: 28px;
      font-size: 6rem;
  }
}
/* 問題 */
.question-box {
    margin-top: 22px;
    padding: 0 4%;

  p {
      font-size: 2.3rem;
      text-align: center;
      color: orangered;
  }
}

/* 選択肢 */
.choice-box {
  width: auto;
  margin-bottom: 20px;

  .choice-button {
      background: #333;
      color: gold;
      padding: 18px;
      margin-bottom: 5px;
      font-size: 2rem;
      width: 100%;

   &:hover {
      background: gold;
      color: #333;
    }
  }
}
/*result画面
-----------------------------*/
.result-box {
  text-align: center;

  .result-p {
      color: white;
      padding: 15px;
      font-size: 5rem;
 }
}
.result-column {
  margin: 0 auto;
  width: 70%;
  height: 137px;
  background: white;

  ul,li {
      list-style-type: none;
  }
  .movie-img{
      paddhing: 5px;
  }

  .movie-text {
      margin: 0 10px 0 0;

    p {
        padding-bottom: 10px;
        list-style: none;
    }
  }
}

/*total画面
-----------------------------*/

#totalbox {

  .total-title {
      padding: 10px;
      margin-top: 50px;
      font-size: 2rem;
      font-weight: bold;
  }

  .total-result {
      padding: 20px;

        .title {
          width: 50%;
          padding: 5px;
          margin: 0 auto;
          font-size: 2rem;
          border: solid 1.3px orangered;
          background-color: darkred;
          border-radius: 60px;
          color: white;
        }
  }

  .moviebox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: auto;
        height: 300;
        padding: 10px;

      .jadge {
        color: orangered;
        font-size: 30px;
      }
      p {
          font-size: 12px;
      }
  }
}

.total-button {
  text-align: center;
  margin-top: auto;
  background-color: #fff;
}
