// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*top-container
-------------------------------------*/
.top-container {
}
.quiz-top-contents {
    text-align: center;
    height: 400px;
    margin-top: 80px;

	h1 {
		font-size: 8rem;
		}
	p{
		margin: 10px 0 40px;
		font-size: 1.4rem;
	}
}


.button1,.button2 {
	font-size: 2rem;
	background: #0bd;
	color: white;
	border-radius: 70px;
	padding: 18px 32px;

	&:hover {
		background: #0090aa;
	}
}

/*about-container
-------------------------------------*/
.about-container {

  background-color: Cornsilk;
  border-top: 1px solid gold;
  width: 100%;
  height: auto;


	.dounyu {
	  text-align: center;
	}
}

.circle1,.circle2,.circle3 {
  position: relative;
  display: inline-block;
  margin: 12px 5px;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  border: solid 3px skyblue;
  background: white;

  span {
		  position: absolute;
		  display: inline-block;
		  text-align: center;
		  left: 0;
		  top: 50%;
		  -webkit-transform: translateY(-50%);
		  transform: translateY(-50%);
		  width :300px;
		  text-align:center;
  }
}

  h2,p{
	/*border-bottom:1px dashed #333;*/
      padding:4px 6px;
  }

/*create
-------------------------------------*/
#create-container {
  padding: 0 8%;
  text-align: center;
}

.required {
	color: white;
	padding: 4px;
	border-radius: 10px;
	border: 0.5px solid  red;
	background-color: darkred;
	font-size: 1px;
}
