// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/










/*edit
-------------------------*/

#edit {

  h3 {
    margin: 49px 0 22px 22px;
  }
}
.user-delete {
    margin-top: 5px;
  }


.user-name,.user-email {
    height: 30px;
    margin-bottom: 13px;
    border-radius: 5px;
  }

