// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*edit
-------------------------*/

.edit,.home {
  background-color: white;
  padding: 0 10% 0 15%;

  h2 {
    padding: 20px;
    margin: 35px 40px 0 0;
    text-align: center;
  }
  h3 {
    margin-top: 50px;
  }
}




